.box {
	width: 500px;
	height: 500px;
	border: 1px solid #000;
}
.box .pink {
	background: violet;
	width: 500px;
	height: 500px;
	border: 1px solid #000;
}

.box .dark {
	background-color: grey;

	width: 500px;
	height: 500px;
	border: 1px solid #000;
}
