caption {
	font-weight: 700;
	font-size: 22px;
}

table {
	width: 90%;
	border-collapse: collapse;
	margin: 0px 0px 0px 30px;
}

td,
th {
	border: 1px solid #000;
	width: 16%;
}

th:nth-child(1),
td:nth-child(1) {
	width: 4%;
}

input {
	outline: none;
}
