.block {
	display: flex;
	justify-content: space-between;
}
.table {
	margin-bottom: 30px;
}

.dark {
	background-color: grey;

	width: 500px;
	height: 500px;
	border: 1px solid #000;
}
.light {
	background: violet;
	width: 500px;
	height: 500px;
	border: 1px solid #000;
}
